<%- include("header") -%>

<h1 style="text-align: center;">About Us</h1>
<p style="text-align: center;">
    Hey, My name is Muhammad Abdullah and I am a Full Stack Web Developer. Also I am a Computer Science undergraduate with strong interests in front-end and back-end development. Interested in using modern
    tools to build dynamic, user-friendly Web applications. Known for problem solving, adaptability, and teamwork. If we talk about this to do list project, it will help you to manage your day and keep you up to date with your daily tasks, so, complete and go to the next one and achieve your goal!

</p>

<%- include("footer") -%>
    